<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ActitudDental.Properties.Settings.ActitudDentalConnectionString"
            connectionString="Data Source=DESKTOP-6EAN4B5\SQLEXPRESS;Initial Catalog=ActitudDental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ActitudDental.Properties.Settings.ActitudDentalDBConnectionString"
            connectionString="Data Source=DESKTOP-6EAN4B5\SQLEXPRESS;Initial Catalog=ActitudDentalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ActitudDental.Properties.Settings.ActitudDentalLocalDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ActitudDentalLocalDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>